<p id="notice"><%= notice %></p>

<div class="container">
<h1>Invoices</h1>

<div id="msgid"></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Customer ID</th>
      <th>Customer Name</th>
      <th>Order</th>
      <th>Sales Rep</th>
      <th>Invoice Date</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= link_to invoice.invoice_id, :action => :show, :id => invoice.invoice_id %></td>
        <td><%= invoice.customer_id %></td>
        <td><%= invoice.customer.customer_name %></td>
        <td><%= invoice.order_id.strip %></td>
        <td><%= invoice.sales_person_id %></td>
        <td><%= invoice.invoice_date %></td>

<% if false %>
        <td><%= link_to invoice.invoice_id, invoice %></td>
        <td><%= invoice.customer_id.strip %></td>
        <td><%= invoice.order_id.strip %></td>
        <td><%= invoice.sales_person_id.strip.to_i %></td>
        <td><%= invoice.invoice_date.strip.to_i %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
