<p id="notice"><%= notice %></p>

<div class=container>
<strong>Invoice Number: </strong><%= @invoice.first.invoice_id %><br>
<strong>Customer ID: </strong><%= @invoice.first.customer_id %><br>
<strong>Customer Name: </strong><%= @invoice.first.customer.customer_name %><br>
<br>
<table class="table table-striped">
  <head>
    <tr>
      <th>Item</th>
      <th>Order Qty</th>
      <th>Backorder Qty</th>
      <th>Shipped Qty</th>
      <th>Unit Price</th>
      <th>Total Price</th>
    </tr>
  </head>
  <tbody>
    <% @invoice.each do |invoice| %>
    <tr>
      <td><%= invoice.item_id %></td>
      <td><%= invoice.order_qty.to_i %></td>
      <td><%= invoice.backorder_qty.to_i %></td>
      <td><%= invoice.shipped_qty.to_i %></td>
      <td><%= number_to_currency(invoice.unit_price) %></td>
      <td><%= number_to_currency(invoice.invoice_price) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'Back', invoices_path %>




